footer{
    margin-top: 25%;
    margin-bottom: 0%;
  
  
    background: rgba(76, 76, 76, 0.3);
  
 
  backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
  

  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.18 );
  
 
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 4;
}

@media(min-width: 500px) {
    .span{
    padding-left: 10%;
    margin-left: 4.5%;
}
}

@media (max-width: 500px) {
 
    .span{
        padding-left: 20%;    
    }
}




@media screen and (min-width: 950px)
{


footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footerName{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footerList{
    display: flex;
    justify-content: flex-end;
}


}


@media screen and (max-width: 950px)
{





footer{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}



.footerList{
    display: flex;
    justify-content: flex-center;
}
}


